* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.dark-text {
    color:#3E435D;
}
.gray-text{
    color:#ADA7A7;
}


#container {
    display: flex;
    flex-direction: row;
}

.left {
    padding-top: 159px;
    width: 78px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    background-color:#ffff;
}
.left-box {
    padding: 17px 27px;
    height: 58px;
}
.left-box-opacity {
    padding: 17px 27px;
    height: 58px;
    opacity: 20%;
}
.left-box-first {
    background-color:#ECF2FE;
}


.center {
    padding: 32px 40px;
    width: 1282px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #F9F9F9;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.header-top-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.font1 {
    font-size: 24px; 
    font-weight: 500;
}
.font2 {
    font-weight: 400;
    font-style: Light;
    font-size: 16px;
}
.header-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.search{
    padding: 14px 20px;
    display: flex;
    gap: 16px;
    width: 354px;
    height: 52px;
    border-radius: 8px;
    align-items: center;
    background-color: #FFFFFF;
}
.content-container{
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.content{
    padding: 32px 32px 71px 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.font3 {
    font-size: 20px; 
    font-weight: 600;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 44px;
    border-radius: 8px;
    background-color: #4182F9;
    color: #FFFFFF;
}
.content-inform{
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 32px;
}
.box{
    width: calc((100% - 32px * (2 - 1)) / 2);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.select-box{
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #F9F9F9;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.font4 {
    font-size: 18px; 
    font-weight: 600;
}
.text-p1 {
   font-size: 18px; 
   font-weight: 600; 
   color:#3E435D;
}
.text-p2 {
   font-size: 16px; 
   font-weight: 400; 
   color:#000000;
}
.email{
    display: flex;
    gap: 20px;
    align-items: center;
}
.email-address {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.font5 {
    font-size: 16px; 
    font-weight: 400; 
    color: #3E435D;
}
.add-email-address {
    background-color: rgba(65, 130, 249, 0.1);
    color: #4182F9;
    height: 44px;
    width: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}